

    <div class="row">
                       

            <div class="col-md-6">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#">
                    <img class="rounded-circle" src="./ceopanda.jpg">
                  </a>
                </div>

                <div class="card-body">
                  <h6 class="card-category">CEO / Co-Founder</h6>

                  <h4 class="card-title">James Thompson</h4>

                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth.
                  </p>
                  <a href="#" class="btn btn-primary btn-round">Follow</a>
                </div>
              </div>
            </div>

            

          </div>
        


