
    <div class="content">

      <!-- ce titre doit etre centré -->
        <h1 class="title">Nouvelle saison ! Inscrivez vos pandas !</h1>



<ul class="flex-container nowrap">

  <li class="flex-item"><p>Nous organisons une émission de télé réalité avec des pandas qui partent <span>en voyage </span>avec très peu de moyens et qui aiment <span>cuisiner</span>. Contactez-nous si vous connaissez des pandas voyageurs et gastronomes !</p></li>

  <li class="flex-item img-right"></li>
 
</ul>


<input type="button" class="button" value="Je m'inscris">

       </div>



