
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
    -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-item {
  padding: 5px;
  width: 50%;
  height: 350px;
  margin: 10px;
  text-align: center;
  overflow-wrap: normal;
  font-size: 2em;
}





span {
color: red;
}







  main {

  		
  		padding-bottom: 50px;

  }


.img-right {
    background: url('./largepanda.png');
    background-repeat: no-repeat;
}

.img-right:hover {
    background: url('./shy.png');
   background-repeat: no-repeat;

}


.button {

    background: rgb(231,13,13);

    position: absolute;
    left: 43%;

    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}


.button:hover {

    background: black;

    position: absolute;
    left: 43%;

    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

