<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div class="nav-sitename"></div>
      
      <ul>
        <li>
          
                <a href="/">Home </a>
        
        </li>
        <li>
          
                <a href="./about.html">About </a>


        </li>
        <li>
                <a href="./contact.html">Contact </a>


        </li>
      </ul>

    

      <div class="nav-avatar">
        <div class="avatar-name"></div>
        <!-- <img src="./pandalogo.png" alt="" class="avatar-pic"> -->
        <%= image_tag("images/pandalogo.png", :class => "avatar-pic") %>





              </div>


        <div class="test">
        <!-- <img src="./pandavatar.png" alt="" class="pandavatar"> -->
        <%= image_tag("images/pandavatar.png", :class => "pandavatar") %>

              </div>


              

       



    </nav>
  </div>
</header>