.cover
{
    // background-image: asset_url('hacking.jpg');
    background-image: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5)), asset_url('hacking.jpg');
  height: 660px;
  width: 100%;
  background-size: cover;

  
}
.text 
{ 

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 450px;
  
}