<!DOCTYPE html>
<html lang="fr">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page test THP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <style>
        <body> {
        font-family: 'Aldrich'
        }
        </style>
    </head>

    <body>

    <header>
        <nav class="navbar">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#formations">Formations</a></li>
                <li><a href="#contact">Contact</a></li>
                <li style="float:right"><a class="active" href="#about">A propos de nous</a></li>
            </ul>

        </nav>
</header>

    <div class="page-background">
        <div class="cta container rounded text-center text-white">
            <h1>The Hacking Project </h1>
            <h2>Pour les entrepreneurs / developpeurs / growthhackers de demain </h2>
                
                Commence a coder pour : </br>
                - concretiser / accelerer / pimper tes projets</br>
                - communiquer avec tes developpeurs</br>
                - lancer ta start-up</br></br>

                73% des etudiants diplomes d'ecole de commerce travaillent dans une start-up (source :les echos)</br>
                47% des marches des 10 prochaines annees se feront dans le numerique (source:latribune)</br>

            </p>
            <form class="form-inline justify-content-center">
  <input type="email" name="email" class="form-control form-control-lg mr-2" placeholder="Let's keep in touch">
  <button type="submit" class="btn btn-lg btn-primary">Go !</button>
</form>
        </div>
    </div>

<footer>
    <nav class="footer-nav">
        <p>Ca se passe ici aussi :</p>
        <ul>
            <li><a href="#"><i class="fab fa-facebook"></i>  Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i>  Twitter</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i>  Instagram</a></li>
        </ul>
    </nav>
</footer>

</body>
</html>